@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    AnimerHero nace de la idea de 4 amigos del instituto, sí, nosotros, Mauro, Miguel, Giancarlo y Italo.<br>
    Desde un principio tenemos muy, muy en claro que existimos por ustedes; buscamos que cada cliente pueda encontrar en AnimerHero un espacio amigable donde pueda adquirir una figura para su colección, para un regalo, para alguien especial o hacer de un momento especial<br />
    Entendemos bien que, más que una figura de colección es una emoción a través de nuestro personaje favorito.

    Día a día venimos trabajando por mejorar nuestro servicio, sabemos perfectamente que es un largo camino y que, junto a nuestros clientes y colaboradores lo lograremos.

    AnimerHero no es una marca de figuras de colección, buscamos ser más que eso, una marca de personas. <br />Existimos porque buscamos transmitir una serie de valores con nuestros clientes, ser amables y comprometidos. También, buscamos conectar con cada uno de nuestros clientes con una atención personalizada y que se lleven la mejor experiencia en nuestra tienda, estando muy atentos en cada punto, desde que se inicia una conversación con nosotros hasta que reciba su pedido.
</h3>

